*{

    margin: 0;
    padding: 0;
    text-align:  center;
}

h1 {

    background-color: #75bbf2;
    color:  #fff;
    height: 5rem;
    line-height: 5rem;

}

.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    height: 180px;
    width: 120px;
    object-fit: cover;
    border-radius: 10%;
    
}

.choice:hover{
    opacity: 50%;
    cursor: pointer;
    background-color:#c4c8cb;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;    
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
   
}

#user-score,
#comp-score{
    font-size:  4rem;
}

.msg-container {
    margin-top: 5rem;
}
#msg{

    background-color: aquamarine;
  color: black;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}